h1 {
  text-align: center;
  font-size: 100px;
  color: lightblue;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

.title {
  text-align: center;
}

.poster {
  text-align: center;
}

.paragraph {
  text-align: center;
  color: white;
  font-size: 20px;
}

.characters img {
  text-align: left;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.video {
  text-align: center;
}
